/* setting body dimensions */
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Hind Siliguri', sans-serif;
}

/* main table dimensions */
#holder {
    height: 96%;
    width: 89%;
    margin-left: 5%;
    margin-right: 6%;
	margin-top: 2%;
	margin-bottom: 2%;
}

#left {
    width: 11%;
}

#right {
    width: 75%;
}

#key {
	width: 14%;
}

td {
    vertical-align: top;
    white-space: nowrap;
}

/* heading */
#heading {
	font-size: calc(10px + 1vh + 1vw);
    font-weight: 400;
	text-decoration: underline;
	text-align: left;
}

/* divs holding table */
.seasons, .standings {
    display: flex;
    justify-content: center;
    height: 80vh;
    overflow: scroll;
    font-size: 1vw;
}

/* table to hold the seasons list */
#seasonTable {
    width: 90%;
}

.season {
    cursor: pointer;
    text-align: center;
    width: 10vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    vertical-align: top;
}

.season:hover {
	background-color: black;
	color: white;
}

/* table to hold the points table */
#pointsTable {
	width: 60vw;
	border-collapse: collapse;
}

#pointsTable td {
    text-align: center;
    max-width: 90%;
    white-space: nowrap;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    vertical-align: middle;
}

#pointsTable a {
	font-weight: 400;
	text-decoration: none;
	color: black;
}

#pointsTable a:hover {
	color: #808080;
	font-weight: 500;
}

/* legend */
#legend {
    height: 80vh;
	border-left: grey 1px solid;
	padding-left: 1vw;
    font-size: 1vw;
}
