body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Hind Siliguri', sans-serif;
}

#title h1 {
	font-size: 4.5vh;
	text-decoration: underline;
	text-align: left;
    font-weight: 400;
    margin-left: 4vw;
}

/* div holding the table */
#holder {
    margin-left: 5vw;
	margin-top: 2%;
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 95vw;
    overflow: scroll;
}

#data {
    width: 100%;
    border-left: solid 1px grey;
}

#data td {
    font-size: 10pt;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    white-space: nowrap;
}

#data p {
    display: inline;
}
