body {
    height: 100%;
    width: 100%;
    font-family: 'Hind Siliguri', sans-serif;
}

#title {
	font-size: calc(15px + 1vh + 1vw);
	text-decoration: underline;
	text-align: left;
    font-weight: 400;
    margin-left: 4vw;
}

/* div holding the table */
#holder {
	margin-top: 2%;
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    overflow: scroll;
}

.label p {
	font-weight: 500;
}

#data {
    border-collapse: collapse;
    width: 95%;
    margin-left: 2%;
    margin-right: 3%;
    border-left: solid 1px grey;
}

#data {
    text-align:center;
    font-size: 1vw;
}

#data td {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    white-space: nowrap;
}

#data p {
    display: inline;
}
