<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,700" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>leading trailing</title>
</head>
<body>
    <table id="holder">
		<thead id="heading">
			<tr>
				<th colspan="2"></th>
			</tr>
		</thead>
        <tr>
            <td id="left">
                <div class="seasons">
                    <table id="seasonTable">
                        {% for comp in comps %} 
                        <tr> <td class="season" id="{{ comp }}"><a>{{ comp }}</a></td> </tr>
                        {% endfor %}
                    </table>
                </div>
            </td>
            <td id="right">
                <div class="standings">
                    <table id="pointsTable"> </table>
                </div>
            </td>
			<td id="key">
				<div id="legend">
					GP: games played<br>
					GS: goals scored<br>
					GA: goals against<br>
					GD: goal difference<br>
					LTp90: leading time per 90<br>
					TTp90: trailing time per 90<br>
                    .<br>. <br>. <br>. <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
                    <a id="github" style="color: grey; font-weight: 300;" href="https://github.com/yatin-kapur/leading_trailing" target="_blank">github</a>
				</div>
			</td>
        </tr>
    </table>
</body>
<script src="{{ url_for('static', filename='home.js') }}" type="text/javascript"></script>
</html>
