<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,700" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>leading trailing</title>
</head>
<body>
    <div id="title"></div>
    <div id="holder">
        <table id="data">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Game</th>
                    <th>{{team}} is: <p style="color: green;">leading</p>-<p style="color: orange;">level</p>-<p style="color: red;">trailing</p></th>
                </tr>
            </thead>
        </table>
    </div>
</body>
<script>
    var extended_scores = {{ extended_scores|safe }};
    var scores = {{ scores|safe }};
    var matches = {{ matches|safe }};
    var team_list = {{ team_list|safe }};
    var year = "{{ year }}";
    var team = "{{ team }}";
    var dates = {{ dates|safe }};

    var color_dict = {1: "green", 2: "orange", 3: "red"};
    
    function make_square(corid, label, color) {
        var svg = d3.select(corid + label)
            .append("svg")
            .attr("width", "15")
            .attr("height", "15");

        // create square
        var square = svg.append("rect")
            .attr("x", "2")
            .attr("y", "0")
            .attr("width", "12")
            .attr("height", "12")
            .attr("fill", color);
    }

    // function to insert the svg for games
    function insert_scores(game_n) {
        // append another td
        d3.select("#game" + game_n)
            .append("td")
            .attr("id", "match" + game_n);
            
        // get scores for this game
        var game_scores = extended_scores[game_n][matches[game_n]];        
        for (var i = 0; i < game_scores.length; ++i) {
            make_square("#", "match" + game_n, color_dict[game_scores[i][1]]);
        }
    }

    // fix header
    d3.select("#title").append('h1').text(team + " " + year);

    for (var i = 0; i < 38; ++i) {
        var row = d3.select("#data")
            .append("tr")
            .attr("id", "game" + i);
        // date
        row.append("td")
            .text(dates[i].replace('-','/').replace('-','/'))
            .attr("class", "date")
            .style("text-align", "center");
        // game result
        var label = row.append("td");
        label.append("p")
            .text(team_list[i]['home'] + " " + scores[i][matches[i]][0])
            .style("font-weight", function() { return team == team_list[i]['home'] ? "500" : "300"; });

        label.append("p").text(" - ");

        label.append("p")
            .text(scores[i][matches[i]][1] + " " + team_list[i]['away'])
            .style("font-weight", function() { return team == team_list[i]['away'] ? "500" : "300"; });

        label.style("text-align", "center");
        // time squares
        insert_scores(i);
    }

    // insert references on the right


</script>
</html>

